@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&display=swap');
/*reset*/
* {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
  }
  
  a {
  background-color:transparent
  }
  
  a:active,a:hover {
  outline:0
  }
  
  abbr[title] {
  border-bottom:1px dotted;
  }
  
  article,aside,footer,header,main,menu,nav,section,summary {
  display:block;
  }
  
  strong,h1,h2,h3 {
  font-weight:700;
  }
  
  body {
  background-color:#fff;
  color:#333;
  font: 14px Arial,sans-serif;
  margin:0;
  min-height:100%;
  line-height:20px;
  }
  
  h1 {
  font-size:2em;
  font-size:38px;
  line-height:44px;
  margin:.67em 0;
  }
  
  h1,h2,h3 {
  margin-top:20px;
  }
  
  h1,h2,h3,p,ul {
  margin-bottom:10px
  }
  
  h2 {
  font-size:32px;
  line-height:36px
  }
  
  h3 {
  font-size:24px;
  line-height:30px
  }
  
  html {
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  font-family:sans-serif;
  height:100%
  }
  
  html.w-mod-touch * {
  background-attachment:scroll!important
  }

  p,ul {
  margin-bottom:10px;
  margin-top:0
  }
  
  ul {
  padding-left:40px
  }
  
  svg:not(:root) {
  overflow:hidden
  }

/*Variables*/  

/*Colors*/
$font-color1: #160422;
$font-color2: white;
$font-color3:#B57BCE;
$accent1: #B57BCE;
$accent2: #C84658;
$background-color: #0f0C64;

/*Spacing*/
$h1: 120px;
$h2: 40px;
$h3: 32px;
$wrapper-width: 990px;
$centered-text-width: 600px;
$box-padding: 32px;
$border-radius: 20px;

/*Fonts*/
$font:'Roboto', sans-serif;
/*mixin*/

@mixin animate-line {
  animation: move-right .3s ease-out 1;
}
@keyframes move-right {
  0% {
    transform: translateX(-400px);
    opacity: 0;
  }
  100% { 
    transform: translateX(0%,0%);
    opacity: 1;
  }
}

/*General*/

body {
  font-family: $font;
  background-color: $background-color;
  color: $font-color1;
  background-image: url('images/background-desktop.svg');
  background-position: 50% 800px;
  background-repeat: no-repeat;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
}
h1{
  font-size: $h1;
  font-weight: 500;
  line-height: 90%;
}
h2 {
  font-weight: 300;
  font-size: $h2;
  line-height: 100%;
}
h3 {
  font-size: $h3;
  font-weight: 700;
  line-height: 110%;
}
a {
  color: $accent2;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  font-weight: 500;
  transition: 300ms;
}

a:hover {
  color: $accent2;
  border-bottom: 2px dotted $accent2;
  transition: 300ms;
}
abbr[title] {
  border-bottom: none;
  cursor: inherit !important;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 4px;
}

p {
  margin-bottom: 24px;
}

.page-wrapper {
  display: grid;
  max-width: $wrapper-width;
  padding: 0 $box-padding;
  grid-column-gap: 100px;
  grid-row-gap: 200px;
  grid-template: 
  "header header"
  "main sidebar"
  / 1fr 300px;
  align-content: start;
  margin: 0 auto;
  position: relative;
  height: 4550px;
}

/*Intro*/

.intro {
  display: flex;
  color: $font-color2;
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  grid-area: header;
  margin-top: 150px;
}
.intro h1::after {
  content: "";
  display: block;
  width: 200px;
  height: 10px;
  background-color: $accent1;
  position: relative;
  left: 253px;
  @include animate-line;
}
.intro h2 {
  margin: 24px 0 48px;
}
.summary {
  max-width: $centered-text-width;
}
.summary p:first-child {
  font-size: 18px;
}
.preamble {
  display: grid;
  max-width: $centered-text-width;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: 
  "header header header"
  ". . ."
  / 1fr 1fr 1fr;
  & h3 {
    grid-area: header;
  }
}


/*Main*/
.main {
  grid-area: main;
  & h3 {
  margin: 48px 0 32px;
  }
  & h3::after {
  content: "";
  display: block;
  width: 225px;
  height: 10px;
  background-color: $accent1;
  position: relative;
  top: 8px;
  @include animate-line;
}
}
.requirements {
  position: absolute;
  width: calc(100% - 88px);
  max-width: 1136px;
  column-count: 2;
  column-gap: 250px;
  margin-top: 150px;
  & h3 {
  position: absolute;
  top: -135px;
  }
}
.sidebar {
  grid-area: sidebar;
}

.sidebar .wrapper > div {
  padding: 8px $box-padding $box-padding;
  border-top: 20px solid $accent1;
  border-radius: $border-radius;
  background-color: $background-color;
  color: $font-color2;
  margin: 32px 0;
  transition: 300ms;
}

.sidebar .wrapper > div:hover {
  transform: scale(1.03);
  transition: 500ms;
}

.sidebar h3 {
  color: $accent1;
  font-weight: 500;
}

.sidebar a {
  color: $font-color2;
}

.design-name {
  display: block;
  margin-top: 12px;
}
.designer-name {
  font-weight: 300;
}

.requirements p[role="contentinfo"],
footer {
  position: absolute;
  left: 0;
  width: 100%;
  font-weight: 500;
  color: $font-color2;
  text-align: center;
}

.requirements p[role="contentinfo"] a,
.requirements p[role="contentinfo"] a:hover,
footer a, footer a:hover {
  color: $font-color2;
  border: none;
}

.requirements p[role="contentinfo"] a,
.requirements p[role="contentinfo"] a:hover {
  text-decoration: underline;
}
  
.requirements p[role="contentinfo"] {
  font-size: 32px;
  bottom: -1450px;  /*! page height & footer stuff */
}

footer {
  font-size: 24px;
  bottom: 120px;  /*! page height & footer stuff */
  & a {
  margin: 0 56px;
}
}



/*! TABLET */
@media screen and (max-width: 991px) {
body {
background-image: url('images/background-tablet.svg');
}

  h1 {
    font-size: 88px;
  }

  .page-wrapper {
    grid-column-gap: 0;
    grid-row-gap: 32px;
    grid-template: 
    "header"
    "main"
    "sidebar"
    / 1fr;
    height: 6400px;
  }

  .intro {
    margin-bottom: 200px;
  & h1::after {
    width: 150px;
    left: 185px;
    }
  }

  .main {
    max-width: $centered-text-width;
    margin-bottom: 0;
    margin: 0 auto;
  }

  .sidebar {
    width: $centered-text-width;
    margin: 0 auto;
  }

  .heading {
    font-size: 88px;
  }

  .requirements {
    position: static;
    width: 100%;
    column-count: 1;
    margin-top: 0;
    & h3 {
    position: static;
  }
  }
  .requirements p[role="contentinfo"] {
    font-size: 24px;
    padding: 0 100px;
    bottom: 200px;  /*! page height & footer stuff */
  }
  
  footer {
    font-size: 18px;
    bottom: 120px;  /*! page height & footer stuff */
  }
}

/*! PHONE LANDSCAPE */
@media screen and (max-width: 767px) {
  .body {
    background-image: url('images/background-phone-landscape.svg');
    background-position: 50% 800px;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .page-wrapper {
    height: 6400px;
  }

  .intro {
    width: 415px;
    margin: 150px auto 150px;
    font-size: 14px;
    text-align: left;
    align-items: stretch;
    & h1::after {
    width: 100px;
    left: 115px;
    height: 6px;
    }
  }

  .preamble {
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template: "header"
    / 1fr;
  }

  .main {
    width: 415px;
  }

  .sidebar {
    width: 415px;
    font-size: 16px;
  }

  .requirements p[role="contentinfo"] {
    font-size: 18px;
    padding: 0 32px;
    bottom: 200px;  /*! page height & footer stuff */
  }
  
  footer {
    font-size: 14px;
    bottom: 120px;  /*! page height & footer stuff */
  & a {
    margin: 0 32px;
  }
}
}

/*! PHONE PORTRAIT */
@media screen and (max-width: 479px) {
  body {
    background-image: url('images/background-phone-portrait.svg');
    background-position: 50% 800px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
    margin-top: 32px !important;
  }

  p {
    font-size: 14px;
  }

  .page-wrapper {
    padding: 0 16px;
    grid-row-gap: 0;
    height: 5200px;
  }

  .intro {
    width: 288px;
    margin: 100px auto 200px;
  }

  .intro h1::after {
    width: 65px;
    left: 80px;
    height: 4px;
  }

  .main, .sidebar {
    width: 288px;
  }

  .sidebar {
    font-size: 14px;
  }

  .requirements p[role="contentinfo"] {
    font-size: 16px;
    padding: 0;
    bottom: 200px;  /*! page height & footer stuff */
  }
  
  footer {
    font-size: 14px;
    bottom: 120px;  /*! page height & footer stuff */
  }

  footer a {
    margin: 0 16px;
  }
}
